.card {
    margin: 40px 20px 0 0;
    box-shadow: 1px 1px 6px 6px rgb(240, 240, 240);
}

.card-1 {
    margin: 0;
}

.headers {
    margin: 40px;
}

aside {
    margin: 40px;
}

.card-img {
    width: 100%;
    max-width: 400px;
    height: 200px;
}

.nav-link {
    color: white;
}

.media {
    margin: 40px 60px;
}

.intropic {
    height: 100px;
    width: 120px;
}